ol{
	list-style: none;
	background-image: url(../img/20141105110252_SaBMW.jpeg);
	background-position: center;
	background-repeat: no-repeat;
}
li{
	cursor: pointer;
}
a{
	color: white;
}
#musicDiv{
	/*background-color:aquamarine;*/  
    position:fixed;  
    height:250px;  
    width:300px;  
    right:0px;  
    top:0px;  
    transition:0.2s ease-out;
    -webkit-transition:0.2s ease-out; 
}
#musicTop{
	/*background-color:aquamarine;  */
    position:fixed;  
    height:25px;  
    width:50px;  
    right:0px;  
    bottom:25px;  
}
#sideToggle{ display:none; }
#sideToggle:checked + aside{right:-500px  }


#musicTop {
    background: cornflowerblue none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: Courier New;
    font-size: 25px;
    font-weight: bold;
    height: 30px;
    line-height: 35px;
    text-align: center;
    text-shadow: 0 -4px;
    width: 30px;
}

#m-list{
	width: auto;
	height:480px;
	overflow: auto;
}
