/*
 * 	   author：		 段福举
 * createdate：		2016-12-09
 * 
*/
*{
	margin: 0px;
    padding: 0px;
}

html{  
	
    scrollbar-face-color:#337ab7; /*面子*/  
    scrollbar-arrow-color:#fff; /*箭头*/  
    scrollbar-3dlight-color:#e9f1d2; /*最外左*/  
    scrollbar-highlight-color:#e9f1d2; /*左二*/  
    scrollbar-shadow-color:#e9f1d2; /*右二*/  
    scrollbar-darkshadow-color:#e9f1d2; /*右一*/  
    scrollbar-track-color:#e9f1d2; /*滑道*/  
}

/*滚动条整体*/  
::-webkit-scrollbar{width:12px; /*滚动条宽度*/ }  
/*滚动条按钮*/  
::-webkit-scrollbar-button {}  
::-webkit-scrollbar-track{ background-color: #e9f1d2;  /*滑道全部*/}
::-webkit-scrollbar-track-piece{background-color:#c7dce3;  /*滑道*/ -webkit-border-radius:1px; /*滑道圆角宽度*/}  
::-webkit-scrollbar-thumb{background:#337ab7; /*滑动条表面*//*滑动条边框*/  border-radius:8px;/*滑动条圆角宽度*/}  
/*横竖滚动条交角*/  
::-webkit-scrollbar-corner { background-color: #0380f5;}  
/*横竖滚动条交角图案*/  
::-webkit-resizer {background-repeat: no-repeat;background-position: bottom right; }  
/*鼠标滑过滑动条*/  
::-webkit-scrollbar-thumb:hover{background:antiquewhite;} 








.heading,
.nav,
.container,
.footing{
    margin: 10px auto;
}
.heading{
    height: 100px;
    background-color: antiquewhite;
}

.left,
.right,
.main{
  /*  background-color: antiquewhite;*/
}

.footing{
    height: 100px;
    background-color: aquamarine;
}

@media screen and (min-width: 960px){
    .heading,
    .nav,
    .container,
    .footing{
        width: 960px;
    }

    .left,
    .main,
    .right{
        float: left;
        height: 500px;
    }

    .left,
    .right
    {
        width: 220px;
    }
    .main{
        margin-left: 15px;
        width: 690px;
    }
    .container{
        height: 500px;
    }

}

@media screen and (min-width: 600px) and (max-width: 960px){
    .heading,
    .nav,
    .container,
    .footing{
        width: 600px;
    }

    .left,
    .main
    {
        float: left;
        height: 400px;
    }
    .right{
        display: none;
    }
    .left{
        width: 160px;
    }
    .main{
        width: 435px;
        margin-left: 5px;
    }
    .container{
        height: 400px;
    }
}

@media screen and (max-width: 600px){
    .heading,
    .nav,
    .container,
    .footing{
        width: 400px;
    }

    .left,
    .right{
        width: 400px;
        height: 100px;
    }
    .main{
        margin-top: 10px;
        width: 400px;
        height: 200px;
    }
    .right{
        margin-top: 10px;
    }
    .container{
        height: 420px;
    }
}